<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.salah.realmtest">

    <uses-feature android:name="android.hardware.camera.autofocus" />
    <uses-feature android:name="android.hardware.camera" android:required="true" />
    <uses-permission android:name="android.permission.CALL_PHONE" />
    <uses-permission android:name="android.permission.VIBRATE" />

    <application
        android:name=".MyApplication"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".activities.MainActivity" />
        <activity android:name=".activities.athlete.AthletesActivity" />
        <activity android:name=".activities.offer.OffersActivity" />
        <activity android:name=".activities.subsciption.SubscriptionsActivity" />
        <activity android:name=".activities.offer.OfferSubscriptionsListActivity" />
        <activity android:name=".activities.manager.ManagersActivity" />
        <activity android:name=".activities.athlete.AddAthleteActivity" />
        <activity android:name=".activities.offer.AddOfferActivity" />
        <activity android:name=".activities.subsciption.AddSubscriptionActivity">
        </activity>
        <activity android:name=".activities.manager.NewManagerActivity" />
        <activity android:name=".activities.debt.AddDebtActivity" />
        <activity android:name=".activities.technicalSheet.AddTechnicalSheetActivity" />
        <activity android:name=".activities.debt.DebtsActivity" />
        <activity android:name=".activities.technicalSheet.TechnicalSheetsActivity" />
        <activity android:name=".activities.session.SessionsActivity" />
        <activity android:name=".activities.manager.LoginActivity"></activity>
        <activity android:name=".activities.SplashActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".activities.subsciption.DetectAthleteSubscriptionActivity"></activity>
        <activity android:name=".activities.debt.DetectAthleteDebtActivity"></activity>
        <activity android:name=".activities.TestActivity">

        </activity>
        <provider
            android:name="android.support.v4.content.FileProvider"
            android:authorities="${applicationId}.com.vansuita.pickimage.provider"
            android:exported="false"
            android:grantUriPermissions="true"
            tools:replace="android:authorities">
            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/picker_provider_paths" />
        </provider>
    </application>

</manifest>